html, body, .app{
  height: 100vh;
  padding: 1rem;
  
}

.messages {
  height:380px;
  overflow-y: scroll;
  min-width: 100%;
}

.message_self {
  margin-bottom: 2rem;
  border-left: 2px solid orange;
  padding-left: 0.5rem;
}

.message_image {
  padding:1rem;
}

.other_message {
  margin-bottom: 2rem;
  /* border-left: 2px solid orange; */
  padding-left: 0.5rem;
}